slide {
  font-size: smaller;
}

slides > slide {
  width: 1280px;
  height: 720px;
}

table {
  width: auto !important; /* Override default full width */
}

th, td {
  padding: 4px 8px !important; /* Reduce padding */
  border: 1px solid #ddd !important; /* Add borders and override defaults */
}

thead th {
  background-color: #f8f8f8 !important; /* Light background for the table header */
  font-weight: bold !important;
}
